<div class="hero page-div">
    <article class="hero-body">
        <img ng-src="{{usuario.foto}}" class="profile-pic img-medium hero-img">
        <b class="hero-name">{{usuario.nome}}</b>
    </article>
    
    <div class="user-titulodescricao">
        <p>Sobre mim:
            <article class="user-descricao">
        </p>{{usuario.descricao}}</p>
        <div ng-show="checarUser()">
            <a ng-click="editarPerfil()"> <i class="fa fa-pencil"></i></a>
            <form class="w3-modal" id="modal">
                <div class=" w3-modal-content">
                    <a ng-click="fecharModal()" class ="botao-fechar-edicao"> <i class="fa fa-times" aria-hidden="true"></i></a>
                    <label>Nome: <input type="text" class="form-edicao" ng-model="usuarioCopia.nome"> </label>
                    <label>Foto de Perfil: <input type="text" class= "form-edicao" ng-model="usuarioCopia.foto"></label>
                    <img ng-src="{{usuario.foto}}" class="foto-Edicao">
                    <label>Descrição: <textarea type="text" rows="5" cols="50" class="form-edicao" ng-model="usuarioCopia.descricao" maxlength="500"></textarea></label>
                    <a ng-click="atualizarPerfil()"class = "botao-salvar-edicao"><i class="fa fa-floppy-o" aria-hidden="true"></i></a>

                </div>
            </form>
        </div>
        </article>
    </div>

    <div>
        <h3 class="title"> Quizzes do usuário, pag {{nPagina}} </h3>
        <div class="quizzes">
            <section class="quizBox" ng-repeat="quiz in quizzes track by $index">
                <div>
                    <p class="quiztitle"> <a ng-href="/#!/quiz/{{quiz.id}}"> {{quiz.titulo}}      </a></p>
                    <div class="foto"><a ng-href="/#!/quiz/{{quiz.id}}"><img ng-src="{{quiz.foto}}"></a></div>
                    <p class="resumo"> {{quiz.resumo}} </p>
                </div>
                <p class="autor"> DE: <a ng-href="/#!/perfil/{{quiz.autor.id}}">{{quiz.autor.nome}}</a> </p>
            </section>
        </div>
    </div>
    <h1 class="title" ng-show="mensagem"> {{mensagem}} </h1>
    <div ng-hide="mensagem" class="pagebuttons">
        <a ng-show="nPagina>1" ng-click="retornarPagina()" class="aligned-center readmore link"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
        <a ng-click="proximaPagina()" class="aligned-center readmore link"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i> </a>
    </div>
</div>