<div class="home-container">
    
    <div class="menu-home">
        <div class = "opcoes">
            <p> <a ng-href="/#!/criar"> Crie seu próprio Quiz! </a> </p>
            <p> <a ng-href="/#!/ranking"> Veja o ranking! </a> </p>
            <p> <a ng-href="/#!/quizzes"> Encontre seu Quiz ideal! </a> </p>
        </div>
        <h3> QUIZZES ALEATÓRIOS </h3>
        <div class = "randomQuizzes">
            <section class = "quizAnchor" ng-repeat="quiz in quizzes">
                <p class = "quiztitle textBox"> <a ng-href = "/#!/quiz/{{quiz.id}}"> {{quiz.titulo}} </a> </p>
                <div class = "foto"> <a ng-href = "/#!/quiz/{{quiz.id}}"><img ng-src="{{quiz.foto}}"></a></div>
                <p class = "resumo textBox"> {{quiz.resumo}} </p> 
                <p class = "autor textBox"> Por: <a ng-href = "/#!/perfil/{{quiz.autor.id}}"> {{quiz.autor.nome}} </a> </p>
                <p class = "tags textBox"> 
                    <a ng-repeat="tags in quiz.tags track by $index" ng-href="/#!/tag/{{tags}}" class = "link">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>{{tags}}
                    </a>
                </p>
            </section>
        </div>
    </div>
</div>

