@font-face {
    font-family: 'Klavika';
    src: url('fonts/Klavika/Klavika.otf')
}

.wrapper {
    margin: 10px;
    padding: 10px;
}

.leftpart {
    display: flex;
    padding: 0.2rem;
}

.resposta-li-wrapper {
    display: flex;
    justify-content: space-between;
}

.resposta-li-wrapper:nth-child(even) {
    background-color: #bcbfc1;
}

.list-respostas {
    list-style: none;
    margin-right: 5px;
}

.link {
    cursor: pointer;
}

.quizSearch{
    font-size: 1.3rem;
    color: #ffffff;
    font-weight: bolder;
    align-self: center;
}

.quizSearch>input {
    border: 2px solid #133783;
    border-radius: 10px;
    padding: 0.1rem;
    height: 2rem;
}

.quizSearch>button {
    padding: 0.1rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffffff;
    color: #4d68a1;
    cursor: pointer;
    border: 2px solid #133783;
}

.pagebuttons {
    display: flex;
    justify-content: space-around;
    margin-left: 30vw;
    margin-right: 30vw;
    cursor: pointer;
}

.readmore {
    background: #4d68a1;
    background: -moz-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: -webkit-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: linear-gradient(to bottom, #4d68a1 0%, #3b5998 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998', GradientType=0);
    font-size: 2rem;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    color: #F6F7F9;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    color: #365CAB;
    font-size: 2.3rem;
}

.page-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 5vh;
}

.menu-home {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 160vh;
    margin-top: 15vh;
    margin-bottom: 15vh;
    background: white;
    border: 1px #DFE0E4 solid;
    border-radius: 5px;
    color: #365CAB;
}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.7rem;
    background: #F6F7F9;
    border: 1px solid #DFE0E4;
    border-radius: 5px;
}

.randomQuizzes {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
    flex-wrap: wrap;
}

criar-quiz {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: inherit;
}

.resposta-input-wrapper {
    padding: 10px;
    background: #F6F7F9;
    border-radius: 5px;
    width: 100%;
}

.menu-home h3 {
    font-size: 3rem;
    align-self: center;
}

.quizAnchor {
    display: flex;
    padding: 0.7rem;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.quizAnchor img {
    width: 300px;
    height: 200px;
    border: 1px solid #DFE0E4;
    border-radius: 5px;
}

.quizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.quizzes>* {
    margin: 3rem;
}

.title {
    font-weight: bolder;
    color: #365CAB;
    text-decoration: none;
    font-size: 2.7rem;
    text-align: center;
}

.quizBox {
    background: white;
    border: 1px #DFE0E4;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    text-align: center;
    width: 15%;
    height: 45vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
}

.quizBox>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
    justify-content: flex-start;
}

.quiztitle {
    height: 10%
}

.quiztitle>a {
    color: #365CAB;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;
}

.quizBox>div>div>a>img {
    flex-grow: 3;
    border: 1px solid #DFE0E4;
    align-self: center;
    height: 120px;
    width: 150px;
    margin-top: 10px;
}

.resumo {
    font-size: 0.7rem;
    color: #A8949C;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    font-weight: normal;
    text-decoration: none;
}

.quizBox>.autor {
    font-size: 0.7rem;
    margin-bottom: 10px;
    font-weight: normal;
    color: #A8949C;
    text-decoration: none;
}

.autor>a {
    color: #365CAB;
    text-decoration: underline;
}

.g-signout2 {
    border-left: 2px white solid;
    margin-left: 5px;
}

.center-title {
    display: flex;
    justify-content: center;
}

.justified-text {
    display: flex;
    justify-content: space-between;
}

.aligned-center {
    align-self: center;
}

.valor {
    margin-left: 5px;
    padding-left: 2px;
    width: 12%;
    text-align: right;
}

ol {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

ol .nome {
    padding-top: 2px;
    padding-bottom: 2px;
}

.home-container {
    display: flex;
    justify-content: center;
}

.ranking-container {
    display: flex;
    justify-content: space-around;
}

.ranking-container ol {
    width: 20vw;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EDF0F5;
    color: black;
    font-family: 'Klavika';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: #365CAB;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #365CAB;
}

header {
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    background: #4d68a1;
    background: -moz-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: -webkit-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: linear-gradient(to bottom, #4d68a1 0%, #3b5998 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998', GradientType=0);
    border-bottom: 1px solid #133783;
    justify-content: space-between;
}

header a {
    display: flex;
    align-self: center;
    padding: 5px;
    color: white;
    padding-right: 30px;
}

header a:visited {
    color: white;
}

header .logo {
    font-size: 2.3rem;
}

.profile-info {
    color: white;
    display: flex;
    font-weight: bolder;
    flex-flow: row nowrap;
}

.profile-pic {
    margin-right: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-bottom: 7px;
}

.questions {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    height: 70vh;
}

.insertPergunta {
    text-align: start;
    width: 50vw;
    height: 20vh;
}

.insertResposta {
    text-align: start;
    width: 40vw;
    height: 10vh;
}

.questions button {
    font-family: Arial;
    color: #ffffff;
    font-size: 1rem;
    background: #4267B2;
    border: 1px solid #6a89c8;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    font-weight: bold;
}

.top-part {
    margin: 4px;
}

.caixa {
    padding: 7px;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border: 1px #DFE0E4;
    border-radius: 5px;
}

.questions button:hover {
    background: #283593;
    font-weight: bolder;
    text-decoration: none;
}

.questions respostas {
    max-height: 50%;
    display: flex;
    flex-direction: column;
}

.pergunta {
    background: #F6F7F9;
    border: 2px #DFE0E4;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
    color: #365CAB;
    padding: 3px;
}

.top-part button {
    background: #4267B2;
    border: 1px solid #6a89c8;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
}

.questions span {
    align-self: left;
    display: inline;
}

.questions span button {
    width: 100%;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    background: #4d68a1;
    background: -moz-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: -webkit-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: linear-gradient(to bottom, #4d68a1 0%, #3b5998 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998', GradientType=0);
    border-top: 1px solid #133783;
    color: white;
    align-self: flex-end;
}

footer article {
    display: flex;
    justify-content: space-around;
}

footer .copyright {
    display: flex;
    text-decoration: underline;
    background: #3f5c9a;
    background: -moz-linear-gradient(top, #3f5c9a 0%, #3e5b99 100%);
    background: -webkit-linear-gradient(top, #3f5c9a 0%, #3e5b99 100%);
    background: linear-gradient(to bottom, #3f5c9a 0%, #3e5b99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5c9a', endColorstr='#3e5b99', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5c9a', endColorstr='#214896', GradientType=0);
    justify-content: flex-start;
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 3px;
}

footer article section {
    max-width: 33vw;
}

.header-footer {
    margin: 0;
    margin-top: 5px;
}

.content-footer {
    margin: 0;
    margin-top: 5px;
    font-size: 0.7rem;
}

.container {
    flex-grow: 3;
}

.img-medium {
    max-width: 96px;
    max-height: 96px;
}

.hero {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hero-img {
    align-self: center;
}

.hero-name {
    margin-top: 10px;
    font-size: 180%;
}

.hero-body {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 30px;
    min-height: 13vh;
    background: #EDF0F5;
}

.marginless {
    margin: 0;
}

.user-descricao {
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 1.1rem;
}

.user-titulodescricao {
    text-align: center;
    font-size: 1.8rem;
}

.user-quizzes {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.user-quizzes>* {
    margin: 2rem;
}

.user-destaque {
    text-align: right;
}

.user-quiz {
    padding: 50px;
    background: #F6F7F9;
    border: 2px solid #DFE0E4;
    border-radius: 15px;
}

.mobile-signin {
    display: none;
}

.img-quiz {
    width: 500px;
    height: 300px;
}

.quiz-info {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.rounded-input {
    border-radius: 5px;
    padding: 5px;
    border: 0;
    outline: none;
    width: 100%;
}

.resposta-desc {
    display: block;
    margin-bottom: 3px;
}

.resposta-input {
    width: 80%;
    height: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -3px;
}

button.resposta-button-inline {
    padding: 0 8px 0 8px;
    height: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 100%;
    margin: 0;
    font-size: 80%;
    width: 19.5%;
}

.quiz-info>* {
    align-self: center;
}

.quiz-respostas {
    overflow: auto;
    max-height: 180px;
    max-width: 100%;
    margin-bottom: 0;

}

.quiz-respostas>p {
    margin: 4px;
}

.preview-foto {
    width: 300px;
    height: 200px;
    border: 2px solid gray;
}

.w3-modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    outline: 0;
    width: 600px;
    display: flex;
    flex-flow: column nowrap;
    padding: 100px;
}

.foto-Edicao {
    max-height: 400px;
    max-width: 400px;
    margin: 20px 0 20px 0;
    align-self: center;
    border-radius: 50%;
}

.form-edicao {
    margin: 10px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
}
.botao-salvar{
    width: 75px;
    align-self: center;
}

@media screen and (max-width: 1015px) {
    .user-quiz {
        justify-content: space-around;
        margin: 10px 0 10px 0;
    }
    .resposta-input {
        width: 74%;
    }
    button.resposta-button-inline {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .profile-info {
        justify-content: center;
        margin: 3px;
    }
    .g-signin2 {
        display: none;
    }
    .mobile-signin {
        display: block;
        cursor: pointer;
        z-index: 1000;
        position: fixed;
        bottom: 30px;
        right: 20px;
        padding: 20px;
        background: #4d68a1;
        border-radius: 50%;
    }
    .mobile-signin>* {
        max-width: 32px;
        max-height: 32px;
    }
    .gsignin2 {
        display: none;
    }
    .user-quizzes {
        justify-content: center;
    }
    .user-quiz {
        text-align: center;
        width: 80%;
    }
    footer article section {
        max-width: 90vw;
        align-self: center;
    }
    footer article {
        flex-direction: column;
        justify-content: center;
    }
    .ranking-container {
        flex-direction: column;
        justify-content: center;
    }
    .ranking-container section {
        align-self: center;
        max-width: 100vw;
    }
    .ranking-container ol {
        max-width: 90vw;
    }
    .copyright {
        align-self: center;
    }
    header {
        font-size: 1rem;
        flex-direction: column;
    }
    header .logo {
        font-size: 1.5rem;
        max-width: 70vw;
    }
    .questions {
        width: 90vw;
        height: 70vh;
        margin: 5%;
        padding: 2%;
    }
    .caixa {
        width: 100%;
        height: 100%;
    }
    .pergunta {
        font-size: 1.2rem;
    }
    .questions button {
        font-size: 0.9rem;
    }
    .top-part button {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 320px) {
    .resposta-input {
        width: 65%;
    }
    button.resposta-button-inline {
        width: 34%;
    }
}