@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: 'Klavika';
    src: url('fonts/Klavika/Klavika.otf')
}
.quizzes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.quizzes > * {
    margin: 3rem;
}
.quizHeader{
    font-weight: bolder;
    color: #365CAB;
    text-decoration: none;
    font-size: 2.7rem;
    text-align: center;
}
.quizBox {
    display: inline-block;
    background: #4d68a1;
    background: -moz-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: -webkit-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: linear-gradient(to bottom, #4d68a1 0%, #3b5998 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998', GradientType=0);
    border: 1px solid #133783;
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 15%;
    margin-left: 5%;
    margin-right: 5%;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.g-signout2 {
    border-left: 2px white solid;
    margin-left: 5px;
}

.center-title {
    display: flex;
    justify-content: center;
}

.justified-text {
    display: flex;
    justify-content: space-between;
}

.aligned-center {
    align-self: center;
}

.valor {
    margin-left: 5px;
    padding-left: 2px;
    width: 12%;
    text-align: right;
}

ol {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

ol .nome {
    padding-top: 2px;
    padding-bottom: 2px;
}

.home-container {
    display: flex;
    justify-content: center;    
}

.ranking-container  {
    display: flex;
    justify-content: space-around;
}

.ranking-container ol {
    width: 20vw;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #EDF0F5;
    color: black;
    font-family: 'Klavika';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    width: 100vw;
    padding-top: 10px;
    padding-left: 10px;
    background: #4d68a1;
    background: -moz-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: -webkit-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: linear-gradient(to bottom, #4d68a1 0%, #3b5998 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998', GradientType=0);
    border-bottom: 1px solid #133783;
    justify-content: space-between;
   
}

header a {
    display: flex;
    align-self: center;
    padding: 5px;
    padding-right: 30px;
}

header .logo {
    font-size: 2.3rem;
}

.profile-info {
    color: white;
    display: flex;
    font-weight: bolder;
    flex-flow: row nowrap;
}

.profile-pic {
    margin-right: 8px;
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
}

.questions {
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    height: 70vh;
}

.insertPergunta {
    text-align: start;
    width: 50vw;
    height: 20vh;
}

.insertResposta {
    text-align: start;
    width: 40vw;
    height: 10vh;
}

.questions button {
    font-family: Arial;
    color: #ffffff;
    font-size: 1rem;
    background: #4267B2;
    border: 1px solid #6a89c8;
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    padding-right: 16px;
    padding-left: 16px;
    text-decoration: none;
    font-weight: bold;
}

.top-part {
    margin: 4px;
}

.caixa {
    padding: 7px;
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border: 1px #DFE0E4;
    border-radius: 5px;
}

.questions button:hover {
    background: #283593;
    font-weight: bolder;
    text-decoration: none;
}

.questions respostas {
    max-height: 50%;
    display: flex;
    flex-direction: column;
}

.pergunta {
    background: #F6F7F9;
    border: 2px #DFE0E4;
    border-radius: 5px;
    font-size: 1.3rem;
    text-align: center;
    color: #365CAB;
    padding: 3px;
}

.top-part button {
    background: #4267B2;
    border: 1px solid #6a89c8;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
}

.questions span {
    align-self: left;
    display: inline;
}

.questions span button {
    width: 100%;
}

footer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    background: #4d68a1;
    background: -moz-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: -webkit-linear-gradient(top, #4d68a1 0%, #3b5998 100%);
    background: linear-gradient(to bottom, #4d68a1 0%, #3b5998 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d68a1', endColorstr='#3b5998', GradientType=0);
    border-top: 1px solid #133783;
    color: white;
    align-self: flex-end;
}

footer article {
    display: flex;
    justify-content: space-around;
}

footer .copyright {
    display: flex;
    text-decoration: underline;
    background: #3f5c9a;
    background: -moz-linear-gradient(top, #3f5c9a 0%, #3e5b99 100%);
    background: -webkit-linear-gradient(top, #3f5c9a 0%, #3e5b99 100%);
    background: linear-gradient(to bottom, #3f5c9a 0%, #3e5b99 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5c9a', endColorstr='#3e5b99', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5c9a', endColorstr='#214896', GradientType=0);
    justify-content: flex-start;
    font-style: italic;
}

footer article section {
    max-width: 33vw;
}

.header-footer {
    margin: 0;
    margin-top: 5px;
}

.content-footer {
    margin: 0;
    margin-top: 5px;
    font-size: 0.7rem;
}

.container {
    flex-grow: 3;
}

@media screen and (max-width: 600px) {
    footer article section {
        max-width: 90vw;
        align-self: center;
    }
    footer article {
        flex-direction: column;
        justify-content: center;
    }
    .ranking-container {
        flex-direction: column;
        justify-content: center;
    }
    .ranking-container section {
        align-self: center;
        max-width: 100vw;
    }
    .ranking-container ol {
        max-width: 90vw;
    }
    .copyright {
        align-self: center;
    }
    header {
        font-size: 1rem;
        flex-direction: column;
    }
    header .logo {
        font-size: 1.5rem;
        max-width: 70vw;
    }
    .questions {
        width: 90vw;
        height: 70vh;
        margin: 5%;
        padding: 2%;
    }
    .caixa {
        width: 100%;
        height: 100%;
    }
    .pergunta {
        font-size: 1.2rem;
    }
    .questions button {
        font-size: 0.9rem;
    }
    .top-part button {
        font-size: 0.9rem;
    }
}