<div class="top-part">
    <div class="pergunta">
        <label>
            <h4>Resultado: (MIN 2)</h4>
            <input type="text" class="rounded-input" name="resultado" ng-maxlength="30" placeholder="Você é muito buro parabens xd" required ng-minlength="10" ng-model="resultado.resultado">
            <small ng-show="perguntaForm.resultado.$error.minlength">No minimo 10 caracteres<br/></small>
            <small ng-show="perguntaForm.resultado.$error.maxlength">No máximo 30 caracteres<br/></small>
            <small ng-show="perguntaForm.resultado.$error.required && perguntaForm.resultado.$touched">Preencha o campo<br/></small>
        </label>
        <label>
            <h4>Range: ({{range.min-1}} até ?)</h4>
            <input type="number" required class="rounded-input" name="range" placeholder="ex: 9" required min="{{range.min}}" max="{{quiz.perguntas.length}}" ng-model="range.max" ng-value="range.min">
            <small ng-if="quiz.resultado.length==0">Valor de {{range.min}} até {{quiz.perguntas.length-1}}<br/></small>
            <small ng-if="quiz.resultado.length>0">Valor de {{range.min}} até {{quiz.perguntas.length}}<br/></small>
            <small ng-show="perguntaForm.range.$error.required && perguntaForm.range.$touched">Preencha o campo<br/></small>
        </label>
        <label>            
            <h4>Insira a foto do resultado:</h4> 
                <input class="rounded-input" type="url" name="fotoResultado" ng-model="resultado.foto" placeholder="http://minhafoto.com/foto.jpg" required>
                <small ng-show="perguntaForm.fotoResultado.$error.url">Preencha com um URL<br/></small>
                <small ng-show="perguntaForm.fotoResultado.$error.required && perguntaForm.fotoResultado.$touched">Preencha o campo<br/></small>            
        </label>
        <div class="quiz-info">
            <h4>Explicação: </h4>
            <section class="resposta-input-wrapper">            
                <small class="resposta-desc">Resuma o resultado:</small>
                <textarea name="explicacao" class="rounded-input resposta-input" ng-maxlength="100" ng-minlength="20" ng-model="resultado.explicacao" placeholder="TU TIROU CINCO DE CEM FILHO DA PUTA TU EH BURRO D+" required></textarea> 
                <br/>
                <small ng-show="perguntaForm.explicacao.$error.minlength">No minimo 20 caracteres</small>
                <small ng-show="perguntaForm.explicacao.$error.maxlength">No máximo 100 caracteres</small>
                <small ng-show="perguntaForm.explicacao.$error.required && perguntaForm.explicacao.$touched">Preencha o campo</small>
            </section>
        </div>
    </div>
</div>

<section class="aligned-center">
<button ng-click="publicar()">Publicar</button>
<button ng-click="proximoResultado()">Próximo Resultado</button>
</section>
