<div class="top-part">
    <div class="pergunta">
        <label>
            Titulo:
            <input type="text" class="rounded-input" ng-maxlength="32" ng-minlength="5" name="tituloP" ng-model="quiz.titulo" placeholder="O titulo do meu super quiz" required>
            <small ng-show="perguntaForm.tituloP.$error.minlength">No minimo 5 caracteres<br/></small>
            <small ng-show="perguntaForm.tituloP.$error.maxlength">No máximo 32 caracteres<br/></small>
            <small ng-show="perguntaForm.tituloP.$error.required && perguntaForm.tituloP.$touched">Preencha o campo <br/></small>  
        </label>
        <label>
            Tags:
            <input type="text" class="rounded-input" ng-model="quiz.tags" placeholder="Separe por virgula. Ex: politica,memes">
        </label>
        <label>            
            Insira a foto de capa: 
            <input class="rounded-input" type="url" name="fotoCapa" ng-model="quiz.foto" placeholder="http://minhafoto.com/foto.jpg" required>
            <small ng-show="perguntaForm.fotoCapa.$error.url">Preencha com um URL<br/></small>
            <small ng-show="perguntaForm.fotoCapa.$error.required && perguntaForm.fotoCapa.$touched">Preencha o campo<br/></small>            
        </label>
        <label>
            Resumo:
            <textarea class="rounded-input" ng-model="quiz.resumo" required name="resumo" ng-minlength="20" ng-maxlength="100"></textarea>
            <small ng-show="perguntaForm.resumo.$error.minlength">No minimo 20 caracteres</small>
            <small ng-show="perguntaForm.resumo.$error.maxlength">No máximo 100 caracteres<br/></small>
            <small ng-show="perguntaForm.resumo.$error.required && perguntaForm.resumo.$touched">Preencha com um Resumo<br/></small>            
        </label>
        <section>
            <span>Modalidades: <br/></span>
            <span>Selecionada: {{quiz.modalidade}}</span>
            <section class="modalidade-box" ng-class="{'modalidade-box-active': opened.pessoal}">
                <h3 class="link modalidade-btn" ng-click="selecionarTipoQuiz('pessoal')" ng-class="{'modalidade-btn-active': opened.pessoal}"><i class="fa fa-user" aria-hidden="true"></i> Quiz pessoal</h3>
                <p class="modalidade-desc" ng-class="{'modalidade-desc-active': opened.pessoal}">
                    Quizzes "pessoais" são quizzes sobre você: 
                    Eles só podem ter uma resposta certa por pergunta, 
                    e devem se tratar dos teus gostos, opiniões, entre outros. 
                    Só podem ser realizados uma vez.
                </p>
            </section>
            <section class="modalidade-box" ng-class="{'modalidade-box-active': opened.pontuacao}">
                <h3 class="link modalidade-btn" ng-click="selecionarTipoQuiz('pontuacao')" ng-class="{'modalidade-btn-active': opened.pontuacao}"><i class="fa fa-list-ol" aria-hidden="true"></i> Quiz de pontuação</h3>
                <p class="modalidade-desc" ng-class="{'modalidade-desc-active': opened.pontuacao}">
                    Quizzes "de pontuação" são aqueles que contribuem 
                    com o seu "Score" dentro do site, aumentando sua pontuação, 
                    e assim, melhorando sua posição no Ranking geral. 
                    Podem ter mais de uma resposta "certa", e a nota que cada 
                    resposta pode dar ao usuário varia de 0 a 5. Só podem ser 
                    realizados uma vez.
                </p>
            </section>
            <section class="modalidade-box" ng-class="{'modalidade-box-active': opened.generica}">
                <h3 class="link modalidade-btn" ng-click="selecionarTipoQuiz('generica')" ng-class="{'modalidade-btn-active': opened.generica}"><i class="fa fa-random" aria-hidden="true"></i> Quiz genérico</h3>
                <p class="modalidade-desc" ng-class="{'modalidade-desc-active': opened.generica}">
                    Quizzes "genéricos", assim como o nome diz, são 
                    aqueles onde vemos na maioria dos sites. São quizzes
                    onde, de acordo com as respostas que o usuário insere,
                    ele recebe uma "classificação" no final, dependendo da 
                    pontuação que obteve. Cada resposta necessita ter "nota"
                    diferente das outras respostas. Esses quizzes, além das
                    perguntas e respostas, necessitam também de "resultados",
                    onde o criador insere quais as classificações possiveis
                    e qual o "range" de cada uma. Podem ser realizados 
                    múltiplas vezes.
                </p>
            </section>
        </section>
    </div>

</div>
<div class="quiz-info">
    <img ng-show="quiz.foto" ng-src="{{quiz.foto}}" class="preview-foto">
</div>

<button class="aligned-center" ng-click="proximaParte()">Próxima parte</button>