<div class="page-div">
    <div>
        <h3 class="title"> LISTA DE QUIZZES: PÁGINA {{nPagina}} </h3>
        <div class="quizzes">
            <section class="quizBox" ng-repeat="quiz in quizzes track by $index">
                <div>
                    <p class="quiztitle textBox"> <a ng-href="/#!/quiz/{{quiz.id_quiz}}"> {{quiz.titulo}}      </a></p>
                    <div class="foto"><a ng-href="/#!/quiz/{{quiz.id_quiz}}"><img ng-src="{{quiz.url_foto}}"></a></div>
                    <p ng-if="quiz.id_modalidade=='1'" class = "modalidade textBox"> <i class="fa fa-user" aria-hidden="true"></i> Modalidade: Pessoal </p>
                    <p ng-if="quiz.id_modalidade=='2'" class = "modalidade textBox"> <i class="fa fa-list-ol" aria-hidden="true"></i> Modalidade: Rankeado </p>
                    <p ng-if="quiz.id_modalidade=='3'" class = "modalidade textBox"> <i class="fa fa-random" aria-hidden="true"></i> Modalidade: Genérico </p>
                </div>
                <p class = "resumo textBox"> {{quiz.resumo}} </p>                 
                <p class="autor"> Por: <a ng-href="/#!/perfil/{{quiz.autor.id_usuario}}">{{quiz.autor.nome}}</a> </p>
                <p class = "tags textBox"> 
                    <a ng-repeat="tags in quiz.tags track by $index" ng-href="/#!/tag/{{tags.tag}}" class = "link">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>{{tags.tag}}
                    </a>
                </p>
            </section>
        </div>
    </div>
    <h1 class="title" ng-show="mensagem"> {{mensagem}}
        <h1>
            <div ng-hide="mensagem" class="pagebuttons">
                <a ng-show="nPagina>1" ng-click="retornarPagina()" class="aligned-center readmore link"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
                <a ng-click="proximaPagina()" class="aligned-center readmore link"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i> </a>
            </div>
</div>