<div class="page-div">
    <div>
        <h3 class="title"> LISTA DE QUIZZES: PÁGINA {{nPagina}} </h3>
        <div class="quizzes">
            <section class="quizBox" ng-repeat="quiz in quizzes track by $index">
                <div>
                    <p class="quiztitle textBox"> <a ng-href="/#!/quiz/{{quiz.id}}"> {{quiz.titulo}}      </a></p>
                    <div class="foto"><a ng-href="/#!/quiz/{{quiz.id}}"><img ng-src="{{quiz.foto}}"></a></div>
                    <p class="resumo"> {{quiz.resumo}} </p>
                </div>
                <p ng-if="quiz.modalidade==='generica'" class="modalidade textBox"> <i class="fa fa-random" aria-hidden="true"></i> Modalidade: {{quiz.modalidade}} </p>
                <p ng-if="quiz.modalidade==='pessoal'" class="modalidade textBox"> <i class="fa fa-user" aria-hidden="true"></i> Modalidade: {{quiz.modalidade}} </p>
                <p ng-if="quiz.modalidade==='pontuacao'" class="modalidade textBox"> <i class="fa fa-list-ol" aria-hidden="true"></i> Modalidade: {{quiz.modalidade}} </p>
                <p class="autor"> DE: <a ng-href="/#!/perfil/{{quiz.autor.id}}">{{quiz.autor.nome}}</a> </p>
                <p class="tags">
                    <a ng-repeat="tags in quiz.tags" ng-href="/#!/tag/{{tags}}" class="link">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>{{tags}}
                    </a>
                </p>
            </section>
        </div>
    </div>
    <h1 class="title" ng-show="mensagem"> {{mensagem}}
        <h1>
            <div ng-hide="mensagem" class="pagebuttons">
                <a ng-show="nPagina>1" ng-click="retornarPagina()" class="aligned-center readmore link"><i class="fa fa-arrow-left" aria-hidden="true"></i> </a>
                <a ng-click="proximaPagina()" class="aligned-center readmore link"> <i class="fa fa-ellipsis-h" aria-hidden="true"></i> </a>
            </div>
</div>